/* .gradient-bg {
    background: linear-gradient(to right, #5ff2ff, #7baffe);
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-gradient {
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
    background-size: 400% 400%;
    animation: gradientAnimation 6s ease infinite;
} */
